ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('img 1.jfif'); /* Use your image here */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  color: white; /* Change text color for visibility */
}
    .form-colum {
        display: flex;
        flex-direction: row;
        align-items: right;
        float: right;
        flex-wrap: wrap;

    }
    .form-colum lable {
        width: 5px;

    }